<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom text-bg-secondary">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-light text-decoration-none">
    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
    <span class="fs-4">APP Contatos</span>
  </a>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link text-light" routerLink="" hrouterLinkActive="active">Listar pessoas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" routerLink="" hrouterLinkActive="active">Cadastrar pessoa</a>
    </li>
  </ul>
</header>
