<div class="container p-5">
  <form [formGroup]="pessoaForm" (ngSubmit)="criarPessoa()">
    <div class="mb-5">
      <label for="nome" class="form-label">Nome:</label>
      <input type="text" id="nome" formControlName="nome" class="form-control" placeholder="Nome">
      <div *ngIf="pessoaForm.get('nome')?.touched && pessoaForm.get('nome')?.invalid" class="text-danger">
        <small *ngIf="pessoaForm.get('nome')?.hasError('required')">Nome é obrigatório.</small>
        <small *ngIf="pessoaForm.get('nome')?.hasError('minlength')">Nome deve ter pelo menos 3 caracteres.</small>
      </div>
    </div>

    <div class="row mb-5">
      <div class="col">
        <label for="cep" class="form-label">CEP:</label>
        <input type="text" id="cep" formControlName="cep" (blur)="buscarCep()" class="form-control" placeholder="CEP">
        <div *ngIf="pessoaForm.get('cep')?.touched && pessoaForm.get('cep')?.invalid" class="text-danger">
          <small *ngIf="pessoaForm.get('cep')?.hasError('required')">CEP é obrigatório.</small>
          <small *ngIf="pessoaForm.get('cep')?.hasError('pattern')">CEP deve conter 8 dígitos numéricos.</small>
        </div>
      </div>
      <div class="col">
        <label for="endereco" class="form-label">Endereço:</label>
        <input type="text" id="endereco" formControlName="endereco" class="form-control" placeholder="Endereço">
        <div *ngIf="pessoaForm.get('endereco')?.touched && pessoaForm.get('endereco')?.invalid" class="text-danger">
          <small *ngIf="pessoaForm.get('endereco')?.hasError('required')">Endereço é obrigatório.</small>
        </div>
      </div>
    </div>

    <div class="row mb-5">
      <div class="col">
        <label for="cidade" class="form-label">Cidade:</label>
        <input type="text" id="cidade" formControlName="cidade" class="form-control" placeholder="Cidade">
        <div *ngIf="pessoaForm.get('cidade')?.touched && pessoaForm.get('cidade')?.invalid" class="text-danger">
          <small *ngIf="pessoaForm.get('cidade')?.hasError('required')">Cidade é obrigatória.</small>
        </div>
      </div>
      <div class="col">
        <label for="uf" class="form-label">UF:</label>
        <input type="text" id="uf" formControlName="uf" class="form-control" placeholder="UF">
        <div *ngIf="pessoaForm.get('uf')?.touched && pessoaForm.get('uf')?.invalid" class="text-danger">
          <small *ngIf="pessoaForm.get('uf')?.hasError('required')">UF é obrigatório.</small>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-center mt-5">
      <button type="submit" class="btn btn-primary" [disabled]="pessoaForm.invalid">Salvar Pessoa</button>
    </div>
  </form>
</div>
