<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">APP Contatos</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Gerencie de forma simples e eficiente seus contatos e informações pessoais com nossa aplicação de cadastro de pessoas. Adicione, edite, visualize e exclua registros de forma rápida, mantendo todos os dados organizados em um único lugar.</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button type="button" class="btn btn-primary btn-lg px-4 gap-3" routerLink="/cadastrar-pessoa">Salvar pessoa</button>
      <button type="button" class="btn btn-outline-secondary btn-lg px-4" routerLink="/pessoas">Listar pessoas</button>
    </div>
  </div>
</div>
